@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$primary-text-light: #000;
$primary-text-dark: #fff;
$primary-light: #70ff00;
$primary-dark: #023a12;

body {
  font-family: "Rubik", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

h1,
h2,
h4 {
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2.5px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

button {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2.5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-dark-bg {
  background-color: #444;
  color: #fff;
}
.btn-dark-bg:hover {
  background-color: #555;
  color: #fff;
}
.btn-dark-bg:active {
  background-color: #666;
  color: #fff;
}
.btn-dark-bg:disabled {
  background-color: #555;
  color: #999;
}

.btn-light-bg {
  background-color: #fff;
  color: #000;
}
.btn-light-bg:hover {
  background-color: #eee;
  color: #000;
}
.btn-light-bg:active {
  background-color: #ddd;
  color: #000;
}
.btn-light-bg:disabled {
  background-color: #ccc;
  color: #999;
}

button:hover {
  transition: all 0.25s ease;
}

button:not(:hover) {
  transition: all 0.25s ease-in-out;
}

button:active {
  background-color: #aaa;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: 1rem;
}

.dark-bg {
  background: linear-gradient(
    90deg,
    rgb(40, 141, 70),
    rgb(68, 183, 50),
    rgba(0, 156, 0, 1)
  );
}

.light-bg {
  background: linear-gradient(90deg, #4af927, $primary-light, #85fe21);
}

.box-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.black-bg {
  background-color: #222;
}

.white-bg {
  background-color: #fff;
}

.all-routes > section {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

section > section {
  padding: 30px;
}

section {
  border-radius: 10px;
  text-align: center;
}

#root {
  background-color: inherit;
}
