.admin-dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.admin-dashboard-single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5px;
  min-width: 250px;
}
.admin-dashboard-single-user p {
  align-self: stretch;
}
.admin-dashboard-single-user :last-child {
  margin-top: auto;
}

.admin-edit-user-section {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.admin-edit-user-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .admin-edit-user-label {
    flex-direction: column;
  }
}
