@use "../master";

footer {
  margin-top: 100px;
  background-color: master.$primary-dark;
  padding: 50px;
}

.footer-legal {
  margin-top: 60px;
}

footer a {
  color: white;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-links div {
  text-align: left;
}

.footer-links div h4 {
  text-align: center;
}
