@use "../master";

footer {
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: auto;
}

footer a {
  color: inherit;
}

.footer-legal {
  margin-top: 60px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-links div {
  text-align: left;
}

.footer-links div h4 {
  text-align: center;
}
