@use "../master.scss";

.hero {
  text-align: center;
  border-radius: 10px;
  position: relative;
  height: 400px;
  padding-top: 75px;
}

.hero img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.hero .hero-img1 {
  top: 20px;
  left: 20px;
}

.hero .hero-img2 {
  top: 20px;
  right: 20px;
}

.hero .hero-img3 {
  bottom: 20px;
  right: 20px;
}

.hero input {
  width: 40%;
  margin-top: 50px;
}

.search-service-container {
  position: relative;
}

.services-results-container {
  max-height: 150px;
  overflow-y: scroll;
  width: 40%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.service-result {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 5px;
}

.why-choose-us {
  text-align: center;
}

.why-choose-us-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.why-choose-us-boxes h3 {
  text-align: center;
  height: 70px;
}

.why-choose-us-boxes div {
  width: 250px;
}

.how-to-get-started {
  padding: 20px;
  text-align: center;
}

.how-to-get-started .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
