@use "../master";

nav {
  margin-bottom: 20px;
  height: 50px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav-large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-small {
  display: none;
}

@media (max-width: 768px) {
  .nav-large {
    display: none;
  }

  .nav-small {
    display: flex;
  }
}

.dark-nav {
  border-bottom: 1px solid master.$primary-light;
  background-color: rgba(0, 0, 0, 0.8);
}

.light-nav {
  border-bottom: 1px solid master.$primary-dark;
  background-color: rgba(255, 255, 255, 0.8);
}

nav img {
  width: 40px;
  height: 40px;
}

nav ul {
  display: flex;
  column-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

nav ul li {
  cursor: pointer;
}

nav .right-part-nav {
  justify-content: end;
}
