@use "../master";

.creds-container {
  min-width: 300px;
  max-width: fit-content;
  margin-bottom: 1rem;
}

.profile {
  text-align: center;
  min-width: 300px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.full-name-profile {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0.25rem;
}

.user-orders {
  margin-top: 2rem;
}

.user-orders-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
