@use "../master";

.creds-container {
  min-width: 300px;
  max-width: fit-content;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  text-align: center;
  min-width: 300px;
  // max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 400px) {
  .profile {
    min-width: 0px;
  }
  .creds-container {
    min-width: 100%;
  }
  .w300 {
    width: 100%;
  }
}

.full-name-profile {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 0.25rem;
}

.user-orders {
  margin-top: 2rem;
}

.user-orders-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.rating-box {
  margin-top: 1rem;
}

.star {
  cursor: pointer;
}

.rating-textbox {
  font-size: 12.5px;
}
