@use "../master.scss";

.service-providers {
  min-height: 50vh;
}

.provider-card {
  min-width: 200px;
  max-width: fit-content;
  min-height: 100px;
  max-height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
