@use "../master.scss";

section.settings .settings-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: master.$primary-dark;
  border-radius: 10px;
}

section.settings h2 {
  text-align: center;
}

section.settings section {
  text-align: center;
}

section.settings .settings-danger-zone h4 {
  color: red;
}

section.settings .settings-change-creds div {
  width: 200px;
}
