@use "../master.scss";

section.settings .settings-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

section.settings h2 {
  text-align: center;
}

section.settings section {
  text-align: center;
}

section.settings .settings-danger-zone h4 {
  color: red;
}

section.settings .settings-change-creds div {
  width: 200px;
}

section.settings .settings-profile-picture input {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  left: 50%;
  border-radius: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: red;
  cursor: pointer;
}
