@use "../master.scss";

.category-services-container {
  display: flex;
  justify-content: center;
  align-items:baseline;
  gap: 20px;
  flex-wrap: wrap;
}

.single-category-service-card {
  min-width: 200px;
  max-width: 300px;
  min-height: 150px;
  max-height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.providers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.providers-container p {
  font-size: 12px;
}
