@use "../master.scss";

p.single-service-tag {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 10px;
}

.edit-service-dialog {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}
.edit-service-dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.service-current-providers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.service-current-provider {
  width: fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
}
